<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <link rel="shortcut icon" href="static/images/lista-de-tarefas.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // Função para obter a data atual no formato YYYY-MM-DD
        function getDataAtual() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!
            var yyyy = today.getFullYear();

            // Retorna a data no formato YYYY-MM-DD
            return yyyy + '-' + mm + '-' + dd;
        }

        // Define a data atual como valor padrão para o campo de entrada de data
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('data').value = getDataAtual();
        });
    </script>
</head>
<body class="bg-gray-100 font-sans text-gray-800 flex items-center justify-center min-h-screen">

    <div class="w-full max-w-md p-6 bg-white shadow-md rounded-md">
        <h1 class="text-2xl font-bold text-blue-600 text-center mb-6">Adicionar Tarefa</h1>
        <form action="/add_tarefas" method="POST" class="space-y-4">
            <div>
                <label for="descricao" class="block font-semibold text-gray-700">Descrição:</label>
                <input
                    type="text"
                    id="descricao"
                    name="descricao"
                    class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400"
                    required>
            </div>

            <div>
                <label for="data" class="block font-semibold text-gray-700">Data:</label>
                <input
                    type="date"
                    id="data"
                    name="data"
                    class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400"
                    required>
            </div>

            <input type="hidden" id="status" name="status" value="Pendente">

            <div class="flex items-center justify-between">
                <button
                    type="submit"
                    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                    ➕ Adicionar
                </button>
                <a
                    href="/"
                    class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                    ✖️ Cancelar
                </a>
            </div>
        </form>
    </div>

</body>
</html>