<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações</title>
    <link rel="shortcut icon" href="static/images/lista-de-tarefas.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/scripts/script.js"></script>
</head>
<body class="bg-gray-100 font-sans text-gray-800">

    <!-- mensagens flash -->
    <div class="fixed top-0 left-0 w-full z-50">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div id="flash-message" class="bg-gray-800 text-white py-2">
              {% for category, message in messages %}
                <div class="text-center">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    <header class="bg-white shadow-md p-4 fixed top-0 w-full z-50">
        <h1 class="text-2xl font-bold text-blue-600">Tarefas</h1>
    </header>

    <main class="pt-20 max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <!-- Lista de Tarefas -->
        <div class="col-span-2 bg-white shadow-md rounded-md p-4">
            {% if data %}
                {% for tarefa in data %}
                <div class="border-b border-gray-200 pb-4 mb-4">
                    <div class="mb-2">
                        <p><span class="font-semibold">ID:</span> {{ tarefa[0] }}</p>
                        <p><span class="font-semibold">Descrição:</span> {{ tarefa[1] }}</p>
                        <p><span class="font-semibold">Data:</span> {{ tarefa[2]|format_date }}</p>
                    </div>
                    <div class="flex items-center justify-between mb-4">
                        <div>
                            <p class="font-semibold">Status:</p>
                            <div class="px-2 py-1 rounded
                                {% if tarefa[3] == 'Pendente' %}bg-yellow-100 text-yellow-700{% elif tarefa[3] == 'Concluído' %}bg-green-100 text-green-700{% endif %}">
                                {{ tarefa[3] }}
                            </div>
                        </div>
                        <div class="flex space-x-2">
                            <form action="/editar_tarefas/{{ tarefa[0] }}" method="GET">
                                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">✏️ Editar</button>
                            </form>
                            <form action="/excluir_tarefas/{{ tarefa[0] }}" method="POST">
                                <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">➖ Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="text-center text-gray-600">Nenhum resultado encontrado.</p>
                <div class="mt-4 flex justify-center">
                    <a href="/add_tarefas" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">➕ Adicionar</a>
                </div>
            {% endif %}
        </div>

        <!-- Seção de Informações -->
        <div class="bg-gray-50 shadow-md rounded-md px-1 py-0.1 space-y-6">
            <div class="text-center">
                <div class="flex items-center justify-center text-yellow-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                    </svg>
                </div>
                <p class="text-sm font-semibold text-gray-600">Pendentes</p>
                <p class="text-lg font-bold text-yellow-500">{{ tarefas_pendentes }}</p>
            </div>
            <div class="text-center">
                <div class="flex items-center justify-center text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                    </svg>
                </div>
                <p class="text-sm font-semibold text-gray-600">Concluídas</p>
                <p class="text-lg font-bold text-green-500">{{ tarefas_concluidas }}</p>
            </div>
            <div class="text-center">
                <div class="flex items-center justify-center text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                </div>
                <p class="text-sm font-semibold text-gray-600">Total</p>
                <p class="text-lg font-bold text-blue-500">{{ tarefas_totais }}</p>
            </div>
                <!-- Botão Enviar Relatório -->
                <div class="text-center">
                    <a href="/enviar_email" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                    Enviar Relatório
                    </a>
    </div>
        </div>

    </main>

    <!-- Botão adicionar no canto inferior direito -->
    <a href="/add_tarefas"
       class="fixed bottom-6 right-6 bg-green-500 text-black w-14 h-14 flex items-center justify-center rounded-full shadow-lg hover:bg-green-600">
       <span class="text-3xl font-bold">&#43;</span>
    </a>
</body>
</html>